@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  line-height: 1.5;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a,
.red {
  text-decoration: none;
  color: rgb(217, 2, 13);
  transition: 0.4s;
  padding: 3px;
}

.frame {
  width: 303px;
  border: 1px solid #949494;
  height: 22px;
}

.break {
  border-right: 1px solid red;
  padding-top: 1px;
  height: 20px;
}

.bar {
  margin-left: 1px;
  height: 18px;
}

.centered {
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  padding: 5px;
}

.advanced {
  border: 1px solid #949494;
  margin-top: 5px;
  margin-bottom: 5px;
}